@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #5583c9;
}
.navbar h1 {
  color: #185dd6;
  
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #185dd6;
}
.content {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;

  background-color: #687985;
  border-radius: 12px;
}
.blogsPreview {
  margin: 10px;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 10px;
}
.blogsPreview h2 {
  
  margin-bottom : 30px;
}
.blogsPreview > * {
  color: rgb(233, 233, 233);
}
button{
  padding: 7px;
  border-radius: 5px;
  background: #28366d;
  color : #fff;
  border:0;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
.deletebtn {
  background-color: #753131;
  margin-top: 20px;
}
input,
textarea,
select {
  outline: none;
  font-size: 0.9em;
  width: 70%;
  margin: 10px;
  padding: 10px 8px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
textarea {
  height: 100px;
}
label {
  margin-left: 10px;
}
.add-btn {
  
  margin: 10px;
  width: 20%;
  cursor: pointer;
}
